.toolbar {
    position: fixed;
    width: 13%;
    height: 97%;
    border-radius: 2px;
    border: 3px solid #050405;
    left: 5px;
    top: 10px;
    border-radius: 5px;
    background: #bb181d;
}

.toolbar_button{
    padding: 25px 45px;
    border-radius: 5px;
    background-color: #050405;
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 100px;
}

.toolbar_button:focus{
    opacity: 0.8;
    box-shadow: 0px 0px 2px 2px white;
}

ul{
   list-style-type:none;
}

#image{
    width: 250px;
    height: 250px;
}

